*.z64
*.o
*.out
*.ld

files/syms/*auto.txt
files/syms/symbol_addrs.*

asm/
assets/
build/
expected/
nonmatchings/
__pycache__/
expected/
.vscode/

tools/n64crc

ctx_includes.c
ctx.c

progress.csv

build.ninja
.ninja*
